<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ajaybadgujar.froggytest"
    versionCode = "1" 
    version     = "1.0.0" >
   <name>Froggy</name>
    <description>
            Game for kids. 
    </description>
    <author href="http://ajaybadgujar.com" email="contact@ajaybadgujar.com">
             Ajay Badgujar 
    </author>
    
    <platform name="android"/>
    <platform name="android">
    
    
    <!-- all platforms -->
  
  <preference name="phonegap-version" value="cli-6.0.0" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

 

  <!-- Android only -->
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="26" />
  <preference name="android-targetSdkVersion" value="19" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    </platform> 
    
      
       <platform name="android">
        <icon src="res/icon/android/drawable-ldpi-icon.png" qualifier="ldpi"/>
        <icon src="res/icon/android/drawable-mdpi-icon.png" qualifier="mdpi"/>
        <icon src="res/icon/android/drawable-hdpi-icon.png" qualifier="hdpi"/>
        <icon src="res/icon/android/drawable-xhdpi-icon.png" qualifier="xhdpi"/>
        <icon src="res/icon/android/drawable-xxhdpi-icon.png" qualifier="xxhdpi"/>
        <icon src="res/icon/android/drawable-xxxhdpi-icon.png" qualifier="xxxhdpi"/>
      </platform>
      
       
      
      <platform name="android">
        <splash src="res/screen/android/drawable-port-ldpi-screen.png" qualifier="ldpi"/>
        <splash src="res/screen/android/drawable-port-mdpi-screen.png" qualifier="mdpi"/>
        <splash src="res/screen/android/drawable-port-hdpi-screen.png" qualifier="hdpi"/>
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png" qualifier="xhdpi"/>
        <splash src="res/screen/android/drawable-port-xxhdpi-screen.png" qualifier="xxhdpi"/>
        <splash src="res/screen/android/drawable-port-xxxhdpi-screen.png" qualifier="xxxhdpi"/>
      </platform>
      
      <preference name="permissions" value="none"/>
      
      
      
      
      
      
</widget>